{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="card shadow mb-4">

    <div class="card-body">

    {{ form_start(createUserForm) }}
    {{ form_end(createUserForm) }}
    </div>

</div>
{% endblock %}
